<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue CDN</title>
</head>
<body>
    <div id="app">
        <h1>{{ mensaje }}</h1>
        <ul>
            <li v-for="item of list">
                {{item.text}}
            </li>
        </ul>
    </div>
    <script src="vue01.js"></script>
</body>
</html>